main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    background-color: white;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
}

img {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg2.jpg);
    min-height: 98vh;
    flex-wrap: wrap;
}

a {
    color: rgb(0, 124, 255);
    text-decoration: none;
    text-align: center;
}
a:hover{
    color: rgb(0, 0, 0);
}
h2{
    font-size: 33px;
}
