body{
    background-image: url(bg1.jpg);
}
.password{
    display: inline-block;
    padding: 0.8vh;
 }
.icon{
    vertical-align:middle ;
    cursor: pointer; 
}
.cover{
    width: 650px;
    margin-top:8%;
    background-image:url(main1.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 32%;
}
.place{
    padding-left: 30%;
    }
input:hover{
    scale:1.1;
}
input{
    border: none;
    border-radius:5px;
    background: transparent;
    width: 100%;
    margin-top: 22px;
    margin-bottom: 52px;
    margin-left: 50px;
    width: 75px;
    color: black;
    outline: none;
}
p{
    background: #cbac99;
    margin-top: 2px;
    font-family: cursive;
    font-style: oblique;
    font-size: 19px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow:-2px 6px 6px rgb(0, 0, 0, 0.2);
    margin-left: 20%;
    margin-top:1.5%
}
#space{
    color: transparent;
    background: #e0ddd9;
    -webkit-background-clip:text;
    background-clip: text;
    text-shadow: -2px 6px 6px rgb(0, 0, 0, 0.1);
    margin-top:-5%;
    margin-bottom: 15%;
    margin-left:18.7%;
    
}
label{
    margin-right: 10px;
    color: transparent;
    background: #c9ab95;
    -webkit-background-clip: text; 
    background-clip: text;
    text-shadow:-2px 6px 6px rgba(255, 255, 255, 0.4);
    font-family: cursive;
    font-size: larger;
}
.r{
    color: transparent; 
    background:#e0ddd9;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: -2px 6px 6px rgba(0, 0, 0, 0);
    margin-right: 25px;
    width: 4px;
    }
button:hover{
    scale:1.3;
}
button{
display: block;
padding-top: 3px;
padding-bottom:4px;
margin-top: 100px;
margin-left:98px;
background-color: transparent;
border-radius: 6px;
background-color: rgb(151, 146, 146);
}
button:disabled{
    cursor: not-allowed;
    color: #050101;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 375px;
    margin-right:auto;
    padding: 14px;
    font-size: 35px;
    color: transparent;
    background: #c9ab95;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 
    -2px 6px 6px rgba(255, 255, 255, 0.4);
    transform: translate(-50%, -1%);
    
}
.name{
    margin-left:95px;
    font-size: small;
}
.space{
    margin-bottom: -5%;
    margin-left: -13%;;
}